doctype html
html(lang=ja)
  include ../include/common/head
  body
    .wrapper
      include ../include/common/header
      block body
      include ../include/common/footer

    //- scripts
    script(src='js/common.js')
